node_modules
.DS_Store

# editor configs
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# build dir
dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# server user data
server/data/amq-user/*

# server logs
server/log/

# shared module build info
shared/tsconfig.tsbuildinfo

anime-quiz-user.db

!.gitkeep

config.env
.env
