name: Release

env:
  CACHE_NAME: node_modules

on:
  push:
    tags:
      - '*'

jobs:
  build-client:
    name: Build and publish client
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Runner setup
        uses: ./.github/actions/runner-setup/

      - name: Build client
        run: |
          touch client/.env
          echo VITE_DISCORD_CLIENT_ID=${{ secrets.VITE_DISCORD_CLIENT_ID }} >> client/.env
          echo VITE_REDIRECT_URL=${{ secrets.VITE_REDIRECT_URL }} >> client/.env
          echo VITE_CLIENT_VERSION=${{ github.ref_name }} >> client/.env
          pnpm build
          cp client/dist/index.html client/dist/404.html

      - name: Publish client
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: client/dist

  build-server:
    name: Build and publish server
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Runner setup
        uses: ./.github/actions/runner-setup/

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push server
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: lasercut/anime-quiz:latest,lasercut/anime-quiz:${{ github.ref_name }}
          build-args: DOCKER_SERVER_VERSION=${{ github.ref_name }}
